<h1>This are generated posts</h1>
<% @posts.each do |post| %>
	<h3><%= link_to post.title, post %></h3>
	<h4><%= post.body %></h4>
	<p>Submitted at <%= post.created_at.strftime('%d %B. %y')%></p>
	<hr>
<% end %>
<%= link_to 'Create New Post', new_post_path %>
